.artist-page {
    color: white;
    margin-left: 280px;
    padding: 2rem;
}

.artist-header {
    display: flex;
    margin-bottom: 1rem;
}

.artist-left {
    margin-right: 2rem;
}

.artist-info {
    padding-top: 2rem;
}

.artist-pic {
    position: relative;
    width: 230px;
    height: 230px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
}

.comment-body {
    margin-bottom: 2rem;
    padding: 1rem;
    border-top: 1px solid rgb(94, 94, 94);
}

.username {
    color: rgb(36, 197, 36);
    margin-bottom: 1rem;
}

.ui.form {
    margin-bottom: 4rem;
}

textarea {
    height: 180px !important;
}

label {
    color: white !important;
}

.button-group {
    margin-top: 3rem;
}

.ui.green.button.icon.circular {
    margin-right: 0.7rem;
}