.side-bar {
    color: white;
    background-color: black;
    position: fixed;
    height: 100%;
    width: 250px;
    z-index: 1;
    padding: 1.5rem;
    overflow-y: scroll;
}

.user-pic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 3rem;
    overflow: hidden;
}

.user-header {
    position: relative;
    text-align: center;
}

.user-pic {
    margin: auto;
}

.user-comments {
    margin-top: 5rem;
}

.comment-li {
    background-color: rgb(63, 63, 63);
    margin-bottom: 0.5rem;
    width: 200px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2rem;
    padding-left: 1rem;
    border-radius: 2px;
}

.favorite-lbl {
    /* color: rgb(161, 161, 161); */
    margin-bottom: 1.5rem;
}

.favorite-box {
    background-color: rgb(64, 153, 42);
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-radius: 5px;
}

.favorite-list-pics {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    padding-right: 0;
}

